body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
    color: rgb(255, 255, 255);
}

header {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
            backdrop-filter: blur(10px); 
    color: #fff;
    padding: 1rem 0;
    opacity: 0.8;
    display: flex;
}

header nav ul {
    list-style: none;
    padding: 0;
    

}

header nav ul li {
    display: inline;
    margin: 0 10px;
    margin-left: 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration:underline;
    text-shadow: 
    0 0 5px #1d7982,   /* Outer glow */
    0 0 5px #ffffff,  /* Outer glow */
    0 0 5px #034050,  /* Outer glow */
    0 0 5px #072224,  /* Outer glow */
    0 0 5px #25d3ff, /* Outer glow */
    0 0 5px#25d3ff;  /* Outer glow */
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

#glow-text{
    color: #fff;
    text-decoration:underline;
    text-shadow: 
    0 0 5px #ff1313,   /* Outer glow */
    0 0 5px #ff2525,  /* Outer glow */
    0 0 5px #25d3ff,  /* Outer glow */
    0 0 5px#ff25ab,  /* Outer glow */
    0 0 5px #25d3ff, /* Outer glow */
    0 0 5px#25d3ff;  /* Outer glow */
}
section {
    padding: 2rem 1rem;
}
.resume-button {
    background-color: rgb(4, 255, 0); /* Green */
    border: 2px solid green;
    color: rgb(254, 254, 254);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 2px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    transition: box-shadow 3s ease-in-out;
    box-shadow: 0 0 20px rgba(63, 255, 4, 0.9);
}

.resume-button:hover {
    background-color: #000000;
}

section#home {
 
    text-align: center;
    margin-top: 40px;
    font-size:xx-large;
    font-weight: 800;
    margin-left: 50px;
    padding-bottom: 400px;
    
    color: #fff; /* Text color */
    text-shadow: 
        0 0 5px #083f4d,   /* Outer glow */
        0 0 10px #083f4d,  /* Outer glow */
        0 0 15px #083f4d,  /* Outer glow */
        0 0 20px#083f4d,  /* Outer glow */
        0 0 25px #083f4d,  /* Outer glow */
        0 0 30px#083f4d;  /* Outer glow */
}
   
#glow{
    color: white; /* Text color */
    text-shadow: 
        0 0 5px #083f4d,   /* Outer glow */
        0 0 10px #14b1d8,  /* Outer glow */
        0 0 15px #083f4d,  /* Outer glow */
        0 0 20px#1291b1,  /* Outer glow */
        0 0 25px #083f4d,  /* Outer glow */
        0 0 30px#083f4d;  /* Outer glow */
}




section#about {
    margin: 1rem auto;
    max-width: 900px;
    margin-top: -0px;
    text-align: justify;
    margin-bottom: 50px;
    font-size:larger;
    font-weight:900;
    font-style: oblique;
    border: 3px solid wheat;
    transition: box-shadow 3s ease-in-out;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
    color: #fff;
    transition: transform 0.5s cubic-bezier(1, 0.8, 0.25, 1);
    padding: 40px;
}

    

#about:hover{
    transform: scale(1.1);
}
section#exp {
    margin: 1rem auto;
    max-width: 900px;
    margin-top: 150px;
    text-align: justify;
    margin-bottom: 50px;
    font-size:larger;
    font-weight:900;
    font-style: oblique;
    border: 3px solid wheat;
    transition: box-shadow 3s ease-in-out;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
    color: #fff;
    transition: transform 0.5s cubic-bezier(1, 0.8, 0.25, 1);
}
    
#exp:hover{
    transform: scale(1.1);
}

.skill{
  margin-left: 300px;
  margin-top: 90px;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  margin-left: 200px;
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.color-container {
  height: 230px;
  width: 250px;
  border-color: rgb(159, 210, 186);
  margin-bottom: 40px;
  transition: transform 0.5s cubic-bezier(1, 0.8, 0.25, 1);
  transition: box-shadow 3s ease-in-out;
    box-shadow: 0 0 30px rgba(148, 199, 183, 0.9);
}
.color-container:hover{
  transform: scale(1.1);
}
.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.details-container {
  padding: 1.5rem;
  flex: 1;
  background-color: rgba(208, 201, 201, 0.5);

  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(4, 94, 68);
  margin-left: 100px;
  text-align: center;
  display: inline-table;
  align-items: center;
}
.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 900;
  font-size: larger;
  margin-bottom: 50px;
  text-align: center;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
.project-img {
  border-radius: 2rem;
  width: 100px;
  height: 110px;
  display: flex;

}

.project-title {
  margin: 1rem;
  color: rgb(21, 20, 20);
}


 

.project-btn{
  background: rgb(255, 255, 255, 0.5);
  border: rgb(29, 208, 181) 0.2rem solid;
  box-shadow: #1084d6;
  border-radius: 10px;
  margin-left: 5px;
  display: flex;
  font-weight: 600;
  transition: box-shadow 3s ease-in-out;
}

.project-btn:hover {
  border: rgb(21, 252, 194) 0.1rem solid;
  color: #ffffff;
  background: rgba(26, 25, 25, 0.5);
  display: flex;
  font-weight: 600;
}

.project-btn1{
  background: rgb(255, 255, 255, 0.5);
  border: rgb(29, 208, 181) 0.2rem solid;
  box-shadow: #1084d6;
  border-radius: 10px;
  margin-left: 5px;
  display: flex;
  font-weight: 600;
  transition: box-shadow 3s ease-in-out;
  margin-left: 70px;
}

.project-btn1:hover {
  border: rgb(21, 252, 194) 0.1rem solid;
  color: #ffffff;
  background: rgba(26, 25, 25, 0.5);
  display: flex;
  font-weight: 600;
}

.btn-container {
  gap: 1rem;
  display: flex;

 
 
}

section#contact{
    
    margin-left: 350px;
    margin-bottom: 150px;
    max-width: 800px;
    text-align: center;
   color: #fff;
    font-size:larger;
    font-weight:900;
    font-style:italic; 
    background-color: rgba(21, 21, 21, 0.2); /* Transparent background */
    backdrop-filter: blur(100px); 
    border: 2px solid wheat;
    box-shadow: #fff;
    transition: box-shadow 3s ease-in-out;
    box-shadow: 0 0 30px rgba(8, 202, 255, 0.9);
    transition: transform 0.5s cubic-bezier(1, 0.8, 0.25, 1);
    padding: 90px;
}
.contact{
    margin-left: 350px;
    margin-top: -100px;
    margin-bottom: 40px;
}
  #contact:hover{
    transform: scale(1.1);
  }

footer {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    backdrop-filter: blur(10px); 
    
    color: #ffffff;
    text-align: center;
    padding: rem 0;
    position: fixed;
    width: 100%;
    bottom: 10;
    opacity: 0.8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in;
}

  
  .img {
    max-width: 100%;
    height: auto;
    margin-left: 1100px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    transition: box-shadow 3s ease-in-out;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
    transition: transform 0.5s cubic-bezier(1, 0.8, 0.25, 1);
  }
  
  
   .img:hover{
    transform: scale(1.1);
   }  
  .email-link {
    color: #4CAF50; /* Green color */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.email-link:hover {
    color: #b5bfb5; /* Darker green on hover */
}
.scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #030303;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.scroll-up.show {
    opacity: 1;
    visibility: visible;
}

.scroll-up:hover {
    transform: scale(1.1);
}

.scroll-up i {
    font-size: 24px;
}


.resume-button:hover {
    background-color: #000000;
     color: white;
}
.all {
  margin-top: 40px;
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
  }
  .all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
      opacity: 1;
    }
    & > div {
      opacity: 1;
      transition-delay: 0s;
    }
    .explainer {
      opacity: 0;
    }
  }
  
  .left, .center, .right, .lefter, .righter {
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(36, 99, 113, 0.4);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(36, 104, 133);
    cursor: pointer;
    background-blend-mode: color-burn;
  
    &:hover {
      box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
    background-color: #ccf;
    }
  }
  .text {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #fff;
    text-shadow: 0 0 5px rgba(100, 100, 255, .6)
  }
  .lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/teenyicons-outline-vol-1/15/c-64.png);
  }
  .left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://cdn2.iconfinder.com/data/icons/css-vol-1/24/c-plus-plus-64.png);
  }
  .center {
    opacity: 1;
    background-image: url(https://media.istockphoto.com/id/2154959092/vector/ux-design.jpg?b=1&s=170x170&k=20&c=u02GSx2GPQE3wvP--WjmYy7aS4s1PkvVohVvoXsJCSQ=);
  }
  .right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/data-science-11/64/toolbox-admin-backend-developer-maintenance-tools-64.png);
  }
  .righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url(https://cdn0.iconfinder.com/data/icons/eon-social-media-contact-info-2/32/github_coding_dev_developer-64.png);
  }
  .explainer {
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color: #1084d6;
    background-image: radial-gradient(circle at center top, #cce, rgb(6, 62, 79));
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    &::first-letter {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    .project {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .project {
        flex: 1 1 100%;
    }
}